<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.erro.css">

    <title>portfólio</title>
    <link rel="icon" href="../static/img/murango.png">
</head>
<body>

    <header class="header">
        <nav class="navigation">
            <a href="#" class="logo"></a>
            <ul>
                <li><a href="https://github.com/Clarinhaaa">GitHub</a></li>
                <li><a href="https://www.instagram.com/ilustra.sol/">Instagram</a></li>
            </ul>
        </nav>
    </header>

    <main class="main">
        <section class="section">
            <div class="left">
               <p>Olá, eu sou Ana Clara! </p>
               <h4>Eu só sabo que nada sebo.</h4>
            <a href="https://media.tenor.com/4gPD1ccxrVgAAAAC/rick-ashley-dance.gif" class="btn">Veja meu trabalho</a>
            </div>
            <div class="right">
            <img src="../static/img/murango.png" alt="Imagem da cooruja triste">
            <div class="shadow"></div>
            </div>
        </section>
    </main>

</body>
</html>